/* aca empieza el media para deskop */
@media (min-width: 1024px){ 

*{
	font-family: 'Lato', sans-serif;

}


p{
	color: #FFFFFF;
}

.grid{
	display: grid;
	grid-template-areas: 'c1 c1 c1 c2'
						 'c3 c3 c3 c3'
						 'c4 c4 c4 c4';
	grid-template-rows: 85px 90% 280px;
}


.cabecera{
	grid-area: c1;
	background-color: #101d24;
}
.logo{
	margin-top: 10px;
	float: left;
	font-size: 40px;
	list-style-type: none;
}
.logo a{
	text-decoration: none;
	color: black;
}

.menu{
	grid-area: c2;
	background-color: #101d24;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	list-style-type: none;
}
nav ul li{
	padding-top: 28px;
	padding-bottom: 32px;
}
nav ul li a{
	 color:  #FFFFF8;
	 text-decoration: none;
	 padding-top: 28px;
	 padding-right: 50px;
	 padding-left: 50px;
	 padding-bottom: 32px;
	 font-size: 20px;
}
nav ul li:hover{
	background-color: #58dd94;
}
nav ul li a:hover{
	color: #fff;
}
.contenido{
	grid-area: c3;
	background-color: #101d24;
}
.texto_video{
	animation-duration: 2s;
	animation-name: animacion_texto;
	padding-top: 40px;
	padding-bottom: 60px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	color: #FFFFFF;
}
@keyframes animacion_texto{
	from{
		transform: translateX(-1100px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

.video_pc{
	margin-top: 20px;
	margin-left: 15%;
}
span iframe {
	width: 70vw;
	height: 40vw;
}

.div_img{
	margin-top: 100px;
	margin-left: 170px;
}
div img{
	float: left;
	width: 30vw;
	height: 20vw;
}
#p_de_img{
	animation-delay: 1s;
	animation-duration: 2s;
	animation-name: animacion_texto;
	color: #FFFFFF;
	text-align: center;
	margin-top: 13vw;
	margin-left: 30vw;
	margin-right: 20vw;
}
/*empieza el footer*/
.footer{ 
	grid-area: c4;
	display: flex;
}

footer{
	background-color: #58dd94;
}
footer h1{
	font-size: 50px;
	text-align: center;
	color: #152510;
}
#privacidad{
	width: 33%;
}
.p_privacidad{
	color: #152510;
	text-align: center;
	margin: 0px 120px;
}
footer h2{
	font-size: 50px;
	text-align: center;
	color: #152510;
}
#contacto{
	width: 33%;
}
.p_conacto{
	color: #152510;
	text-align: center;
}
#seguinos{
	width: 33%;
}
#seguinos a{
	margin-left: 5vw;
}
/*termina el footer*/

/*parte de contacto*/
.content{
	background-color: #58dd94;
	height: 600px;
	width: 80%;
	margin: 10% 10%;
}
.content h1{
	text-align: center;
	padding-top: 25px;
	color: #fff;
	font-size: 40px;
}
form{
	margin: 0px;
	padding: 0px;
}
form > *{
	padding: 10px;
}
form input, form textarea, form button{
	width: 100%;
	background: none;
	border: none;
	outline: none;
	color: #fff;
	margin: 10px 0px;
	border-bottom: 1px solid black;
}
form button{
	padding: 10px;
}
/*empieza parte de productos*/
.productos_main{
	background-color: #101d24;
}
.productos_main h1{
	margin: 50px;
	text-align: center;
	font-size: 100px;
	color: #fff;
}
.productos_main p{
	color: #Fff;
}
.container .row .col-xl-4{
	padding-bottom: 120px;
}
.container .row .col-xl-4 img{
	padding-top: 0px;
	padding-bottom: 25px;
}
.container .row .col-xl-4 h3{
	border-bottom: solid 2px #fff;
	color: #Fff;
	font-size: 50px;
}
.col-xl-4{
	margin: 0px;
	padding: 100px;
}
.col-xl-4 img{
	width: 100%;
	height: 67.6%;
}
/*termina productos*/
}
/* aca empieza el media de tablet */

@media (min-width: 768px) and (max-width: 1023px){
*{
	font-family: 'Lato', sans-serif;
	margin: 0px;
}
p{
	color: #FFFFFF;
}


.grid{
	display: grid;
	grid-template-areas: 'c1 c2 c2 c2 '
						 'c3 c3 c3 c3 '
						 'c4 c4 c4 c4';
	grid-template-rows: 85px 90% 200px;
}


.cabecera{
	grid-area: c1;
	background-color: #101d24;
}
.logo{
	margin-top: 10px;
	float: left;
	font-size: 40px;
	list-style-type: none;
}
.logo a{
	text-decoration: none;
	color: black;
}

.menu{
	grid-area: c2;
	background-color: #101d24;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	list-style-type: none;
}
nav ul li{
	padding-top: 33px;
	padding-bottom: 33px;
}
nav ul li a{
	 color:  #FFFFF8;
	 text-decoration: none;
	 padding-left: 32px;
	 padding-right: 32px;
	 padding-top: 33px;
	 padding-bottom: 33px;
}
nav ul li:hover{
	background-color: #58dd94;
}
nav ul li a:hover{
	color: #fff;
}
.contenido{
	grid-area: c3;
	background-color: #101d24;
}
.texto_video{
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	color: #FFFFFF;
}

.video_pc{
	margin-left: 15%;
}
span iframe{
	width: 70vw;
	height: 40vw;
}

div{
	margin-top: 100px;
	margin-left: 10vw;
}
div img{
	float: left;
	width: 30vw;
	height: 20vw;
}
#p_de_img{
	color: #FFFFFF;
	text-align: center;
	margin-top: 13vw;
	margin-left: 30vw;
	margin-right: 10vw;
}
/*empieza el footer*/
.footer{
	grid-area: c4;
	display: flex;
}

footer{
	background-color: #58dd94;
}
footer h1{
	font-size: 25px;
	text-align: center;
	color: #000;
}
#privacidad{
	margin: 0px;
	width: 33%;
}
.p_privacidad{
	color: #000;
	font-size: 18px;
	text-align: left;
	margin: 0px 0px;
}
footer h2{
	font-size: 25px;
	text-align: center;
	color: #000;
}
#contacto{
	font-size: 25px;
	margin: 0px;
	width: 33%;
}
.p_conacto{
	color: #000;
	font-size: 18px;
	text-align: center;
}
#seguinos{
	font-size: 25px;
	margin: 0px;
	width: 33%;
}
#seguinos a{
	margin-left: 20%;
}
#seguinos a svg{
	width: 25px;
	height: 25px;
}
/*termina el footer*/

/*parte de contacto*/
.content{
	background-color: #58dd94;
	height: 680px;
	width: 80%;
	margin: 5% 10%;
}
.content h1{
	text-align: center;
	padding-top: 25px;
	color: #fff;
	font-size: 40px;
}
form{
	margin: 0px;
	padding: 20px;
}
form > *{
	padding: 10px;
}
form input, form textarea, form button{
	width: 100%;
	background: none;
	border: none;
	outline: none;
	color: #fff;
	margin: 10px 0px;
	border-bottom: 1px solid black;
}
form button{
	background: #2ac200;
	padding: 10px;
}font-size: 40px;

form{
	margin: 0px;
	padding: 20px;
}
form > *{
	padding: 10px;
}
form input, form textarea, form button{
	width: 100%;
	background: none;
	border: none;
	outline: none;
	color: #fff;
	margin: 10px 0px;
	border-bottom: 1px solid black;
}
form button{
	background: #2ac200;
	padding: 10px;
}
/*termina contacto*/
/*empieza productos*/

.productos_main{
	background-color: #101d24;
}
.productos_main h1{
	margin: 50px;
	text-align: center;
	font-size: 100px;
	color: #fff;
}
.productos_main p{
	color: #fff;
}
.container .row .col-xl-4{
	padding-bottom: 140px;
}
.container .row .col-xl-4 img{
	padding-top: 0px;
	padding-bottom: 25px;
}
.container .row .col-xl-4 h3{
	border-bottom: SOLID 2PX #fff;
	color: #Fff;
	font-size: 50px;
}
.col-xl-4{
	margin: 0px;
	padding: 100px;
}
.col-xl-4 img{
	width: 100%;
	height: 67.6%;
}
/*termina productos*/
}

/* aca empieza el media para movil */

@media (min-width: 0px) and (max-width:  767px){ 
	*{
	font-family: 'Lato', sans-serif;
	margin: 0px;
}
.grid{
	display: grid;
	grid-template-areas: 'c1 c2 c2 c2 '
						 'c3 c3 c3 c3 '
						 'c4 c4 c4 c4';
	grid-template-rows: 85px 95% 180px;
}

p{
	color: #FFFFFF;
}

.cabecera{
	grid-area: c1;
	background-color: #101d24;
}
.logo{
	margin-top: 10px;
	float: left;
	font-size: 40px;
	list-style-type: none;
}
.logo a{
	text-decoration: none;
	color: black;
}

.menu{
	grid-area: c2;
	background-color: #101d24;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	list-style-type: none;
}
nav ul li{
	padding-top: 33px;
	padding-bottom: 33px;
}
nav ul li a{
	 color:  #FFFFF8;
	 text-decoration: none;
	 padding-top: 23px;
	 padding-right: 5px;
	 padding-left: 5px;
	 padding-bottom: 40px;
}
nav ul li:hover{
	background-color: #58dd94;
}
nav ul li a:hover{
	color: #fff;
}
.contenido{
	grid-area: c3;
	background-color: #101d24;
}
.texto_video{
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	color: #FFFFFF;
}

.video_pc{
	margin-left: 15%;
}
span iframe{
	width: 70vw;
	height: 40vw;
}

div{
	margin-top: 100px;
	margin-left: 10vw;
}
div img{
	float: left;
	width: 30vw;
	height: 30vw;
}
#p_de_img{
	color: #FFFFFF;
	text-align: center;
	margin-top: 13vw;
	margin-left: 30vw;
	margin-right: 10vw;
}
.footer{
	grid-area: c4;
}

/*empieza el footer*/
.footer{
	grid-area: c4;
	display: flex;
}

footer{
	background-color: #58dd94;
}
footer h1{

	font-size: 25px;
	text-align: center;
	color: #000;
}
#privacidad{
	margin: 0px;
	width: 33%;
}
.p_privacidad{
	color: #000;
	font-size: 12px;
	text-align: left;
	margin: 0px 0px;
}
footer h2{
	font-size: 25px;
	text-align: center;
	color: #000;
}
#contacto{
	font-size: 25px;
	margin: 0px;
	width: 33%;
}
.p_conacto{
	color: #000;
	font-size: 10px;
	text-align: center;
}
#seguinos{
	font-size: 25px;
	margin: 0px;
	width: 33%;
}
#seguinos a{
	margin-left: 0%;
}
#seguinos a svg{
	width: 25px;
	height: 25px;
}
/*termina el footer*/

/*parte de contacto*/
.content{
	background-color: #58dd94;
	height: 680px;
	width: 80%;
	margin: 5% 10%;
}
.content h1{
	text-align: center;
	padding-top: 25px;
	color: #fff;
	font-size: 40px;
}
form{
	margin: 0px;
	padding: 20px;
}
form > *{
	padding: 10px;
}
form input, form textarea, form button{
	width: 100%;
	background: none;
	border: none;
	outline: none;
	color: #fff;
	margin: 10px 0px;
	border-bottom: 1px solid black;
}
form button{
	background: #2ac200;
	padding: 10px;
}
/*termina cantacto*/
/*empieza productos*/

.productos_main{
	background-color:#101d24;
}
.productos_main h1{
	margin: 50px 20px;
	text-align: center;
	font-size: 100px;
	color: #fff;
}
.productos_main p{
	color: #fff;
}
.container .row .col-xl-4{
	padding-bottom: 140px;
}
.container .row .col-xl-4 img{
	padding-top: 0px;
	padding-bottom: 25px;
}
.container .row .col-xl-4 h3{
	color: #fff;
	font-size: 50px;
}
.col-xl-4{
	margin: 0px;
	padding: 100px;
}
.col-xl-4 img{
	width: 100%;
	height: 67.6%;
}
/*termina productos*/
}
