/* aca empieza el media para deskop */
@media (max-width: 30000px) {
  * {
    font-family: "Lato", sans-serif;
  }

  @keyframes animacion_texto {
    from {
      transform: translateX(-1100px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  ul {
    padding: 0px;
  }

  li {
    margin: 0px;
    list-style-type: none;
  }

  p {
    color: #fff;
  }

  .grid {
    display: grid;
    grid-template-areas: "c1 c1 c2 c2" "c3 c3 c3 c3" "c4 c4 c4 c4";
    grid-template-rows: 85px 90% 280px;
  }

  /*empieza cabecera*/
  .cabecera {
    grid-area: c1;
    background-color: #101d24;
  }

  .menu {
    grid-area: c2;
    background-color: #101d24;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style-type: none;
  }
  nav ul li {
    padding-top: 28px;
    padding-bottom: 32px;
  }
  nav ul li:hover {
    background-color: #58dd94;
  }
  nav ul li a {
    color: #FFFFF8;
    text-decoration: none;
    padding-top: 28px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 32px;
    font-size: 20px;
  }
  nav ul li a:hover {
    color: #fff;
  }

  /*termina cabecera*/
  /*empiza index*/
  .contenido {
    grid-area: c3;
    background-color: #101d24;
  }

  .texto_video {
    animation-duration: 2s;
    animation-name: animacion_texto;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 25px;
  }

  .video_pc {
    margin-top: 20px;
    margin-left: 15%;
  }

  span iframe {
    width: 70vw;
    height: 40vw;
  }

  .div_img {
    margin-top: 100px;
    margin-left: 170px;
  }

  div img {
    float: left;
    width: 30vw;
    height: 20vw;
  }

  #p_de_img {
    animation-duration: 2s;
    animation-name: animacion_texto;
    color: #FFFFFF;
    text-align: center;
    margin-top: 13vw;
    margin-left: 30vw;
    margin-right: 20vw;
  }

  /*termina index*/
  /*empieza el footer*/
  .footer {
    grid-area: c4;
    display: flex;
  }

  footer {
    background-color: #58dd94;
  }

  #h1_privacidad {
    font-size: 300%;
    text-align: left;
    color: #152510;
  }

  #privacidad, #seguinos, #contacto {
    width: 33%;
  }

  #p_privacidad {
    font-size: 77%;
    color: #152510;
    text-align: center;
    margin: 0px 0px;
  }

  footer h2 {
    font-size: 300%;
    text-align: center;
    color: #152510;
  }

  .p_conacto {
    font-size: 85%;
    color: #152510;
    text-align: center;
    margin: 0px;
    padding: 10px;
  }

  #seguinos .icon_footer {
    height: 22%;
    width: 15%;
    margin-left: 4vw;
  }

  /*termina el footer*/
  /*parte de contacto*/
  .content {
    background-color: #2f483a;
    height: 670px;
    width: 80%;
    margin: 10% 10%;
  }

  .content h1 {
    text-align: center;
    padding-top: 25px;
    color: #fff;
    font-size: 50px;
  }

  form {
    margin: 0px;
    padding: 0px;
  }
  form p {
    font-size: 20px;
  }

  form > * {
    padding: 10px;
  }

  form input, form textarea, form button {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    margin: 10px 0px;
    border-bottom: 1px solid black;
  }

  form button button {
    padding: 10px;
  }

  /*empieza parte de productos*/
  .productos_main {
    background-color: #101d24;
  }

  .productos_main h1 {
    margin: 50px;
    text-align: center;
    font-size: 100px;
    color: #fff;
  }

  .productos_main p {
    color: #Fff;
  }

  .container .row .col-xl-4 {
    padding-bottom: 120px;
    margin: 0px;
    padding: 100px;
  }
  .container .row .col-xl-4 h3 {
    border-bottom: solid 2px #fff;
    color: #Fff;
    font-size: 50px;
  }
  .container .row .col-xl-4 img {
    padding-top: 0px;
    padding-bottom: 25px;
    width: 100%;
    height: 67.6%;
  }

  /*termina productos*/
  /*empieza nosotros*/
  #grid_nosotros {
    display: grid;
    grid-template-areas: "n1 n1 n2";
    grid-template-rows: 900px;
    margin-top: 5%;
    margin-left: 5%;
  }

  #nosotros_img {
    grid-area: n1;
  }

  #nosotros_img img {
    height: 100%;
  }

  #nosotros_p {
    grid-area: n2;
    margin-left: 100px;
    margin-right: 100px;
  }

  #nosotros_p h1 {
    padding: 20px;
    text-align: center;
    color: #58dd94;
    font-size: 50px;
  }

  #nosotros_p p {
    margin-left: 30%;
    width: 40%;
    text-align: center;
    padding: 0px 10px;
  }

  /*termina nosotros*/
}
/*termina la vista desktop*/
/* !EMPIEZA VISTA TABLET*/
@media (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-areas: "c1 c2 c2 c2 " "c3 c3 c3 c3 " "c4 c4 c4 c4";
    grid-template-rows: 85px 90% 200px;
  }

  /*empieza cabecera*/
  nav ul li a {
    font-size: 17px;
  }

  /*termina cebezera*/
  #p_de_img {
    font-size: 70%;
  }

  /*empieza el footer*/
  footer #h1_privacidad {
    font-size: 150%;
  }
  footer #p_privacidad {
    font-size: 60%;
    color: #152510;
    text-align: center;
    margin: 0px 0px;
  }

  footer h2 {
    font-size: 150%;
  }

  .p_conacto {
    font-size: 70%;
    padding: 7px;
    text-align: center;
  }

  /*termina el footer*/
  /*empieza de contacto*/
  .content h1 {
    text-align: center;
    padding-top: 25px;
    color: #fff;
    font-size: 50px;
  }

  form {
    margin: 0px;
    padding: 20px;
  }
  form button {
    padding: 10px;
    font-size: 40px;
  }

  /*termina contacto*/
  /*empieza productos*/
  .container {
    width: 86%;
    margin-left: 10%;
  }
  .container .row .col-xl-4 {
    padding-bottom: 140px;
  }

  /*termina productos*/
  /*empieza nosotros*/
  #grid_nosotros {
    display: grid;
    grid-template-areas: "n2" "n1";
    grid-template-rows: 600px;
    margin-top: 5%;
    margin-left: 0%;
  }

  #nosotros_img img {
    margin-left: 35%;
    height: 100%;
  }

  #nosotros_p h1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 35px;
  }

  #nosotros_p p {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*termina nosotros*/
}
/* ! aca empieza el media para movil */
@media (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-areas: "c1 c2 c2 c2 " "c3 c3 c3 c3 " "c4 c4 c4 c4";
    grid-template-rows: 85px 95% 180px;
  }

  /*empieza cabezera*/
  .logo {
    margin-top: 10px;
    float: left;
    font-size: 40px;
    list-style-type: none;
  }

  nav ul li {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  nav ul li a {
    padding-top: 23px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
    font-size: 10px;
  }

  /*termina cabezera*/
  /*empieza index*/
  .texto_video {
    font-size: 80%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }

  .video_pc {
    margin-left: 15%;
  }

  .div_img {
    margin-left: 10vw;
  }

  div img {
    float: left;
    width: 30vw;
    height: 30vw;
  }

  #p_de_img {
    font-size: 10px;
    text-align: center;
    margin-top: 23vw;
    margin-left: 30vw;
    margin-right: 10vw;
  }

  /*termina index*/
  /*empieza el footer*/
  footer #h1_privacidad {
    font-size: 100%;
  }
  footer #p_privacidad {
    font-size: 20%;
  }

  footer h2 {
    font-size: 100%;
  }

  .p_conacto {
    font-size: 40%;
    padding: 4px;
  }

  #seguinos a a {
    margin-left: 7%;
  }

  #seguinos .icon_footer {
    height: 22%;
    width: 15%;
    margin-left: 4vw;
  }

  /*termina el footer*/
  /*parte de contacto*/
  .content {
    height: 680px;
    width: 80%;
    margin: 5% 10%;
  }

  .content h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
  }

  form {
    margin: 0px;
    padding: 20px;
  }

  /*termina cantacto*/
  /*empieza productos*/
  .productos_main h1 {
    margin: 50px 20px;
    font-size: 80px;
  }

  .container {
    margin: 0px;
    padding: 0px;
  }

  /*termina productos*/
  /*empieza nosotros*/
  #grid_nosotros {
    grid-template-rows: 600px;
  }

  /*termmina nosotros*/
}
/*termina vista movil*/
@media (max-width: 576px) {
  #grid_nosotros {
    grid-template-rows: 740px;
  }

  footer #h1_privacidad {
    font-size: 100%;
  }
  footer #p_privacidad {
    font-size: 20%;
  }

  #nosotros_img {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
